#nav-text {
    text-align: center;
    color: white;
}

#current-weather {
    border: solid 1px black;
}

.small-box {
    border: 1px solid black;
    margin: 5px;
    background-color: rgba(22, 45, 70, 0.883);
    color: white;
}

#weather-image {
    width: 40px;
    height: 40px;
}

#uv-current {
    background-color: rgb(39, 168, 136);
}