#nav-text {
    color: white;
}

#current-weather {
    border: solid 1px black;
}

.small-box {
    border: 1px solid black;
    margin: 5px;
    background-color: rgba(22, 45, 70, 0.883);
    color: white;
}

#weather-image {
    width: 40px;
    height: 40px;
}

#uv-current {
    background-color: rgb(39, 168, 136);
}

#display-temp {
    display: none;
}

nav {
    justify-content: center !important;
    background: rgb(91,150,222);
    background: linear-gradient(90deg, rgba(91,150,222,0.836594012605042) 14%, rgba(34,29,122,1) 94%);
}
